@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@font-face {
    font-family: 'Bubblegum';
    src: url('../fonts/bubblegum-sans-regular.otf');
}

body {
    background-color: #DDDDDD;
    color: #000000;
}

#interface {
    width: 80%;
    background-color: #FFFFFF;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px #00000088;
    padding: 10px;
}

header {
    border-bottom: 1px solid #606060;
    height: 150px;
    background: url('../imgs/glass-logo-peq.jpg') no-repeat 0px 80px;
}

header h1 {
    font-family: 'Bubblegum', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px #00000099;
    padding: 0px;
    margin-bottom: 0px;
}

header h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

#icone {
    position: absolute;
    left: 81%;
    top: 70px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

#menu {
    display: block;
}

#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 56%;
}

#menu li {
    display: inline-block;
    background-color: #DDDDDD;
    padding: 10px;
    margin: 2px;
    transition: background-color 0.7s;
}

#menu li:hover {
    background-color: #606060;
}

#menu h1 {
    display: none;
}

#menu a {
    color: #000000;
    text-decoration: none;
    transition: color 0.7s;
}

#menu a:hover {
    color: #DDDDDD;
}

.foto-legenda {
    border: 8px solid #FFFFFF;
    box-shadow: 1px 1px 4px #000000;
    position: relative;
}

.foto-legenda img {
    width: 100%;
    height: 100%;
}

.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: #00000066;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: 1s;
}

.foto-legenda figcaption:hover {
    opacity: 1;
}

section {
    display: block;
    width: 53%;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
    padding-bottom: 15px;
}

#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin: auto;
}

#tabelaspec caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

#tabelaspec caption span {
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}

#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
}

.cesq {
    color: #FFFFFF;
    background-color: #606060;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
}

.cdir {
    background-color: #CECECE;
}

aside {
    display: block;
    width: 43%;
    float: right;
}

footer {
    border-top: 1px solid #606060;
    clear: both;
}

footer p {
    text-align: center;
}